<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomeAnnotationView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE2F153D1C9D2BB600D724D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2F15591C9D2BB700D724D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2F15641C9D2BB700D724D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
